In [1]:
'''
1.
Create a function that takes a number as an argument and returns True or False
depending on whether the number is symmetrical or not. 
A number is symmetrical when it is the same as its reverse.
'''

def is_symmetrical(num):
    """
    Checks if a number is symmetrical or not.
    Input
    num: an integer
    """
    number = str(num)
    reverse_number = number[::-1]
    if number == reverse_number:
        return True
    else:
        return False
is_symmetrical(7227)

True

In [2]:
is_symmetrical(12567)

False

In [3]:
is_symmetrical(9939)

False

In [4]:
'''
2.
Given a string of numbers separated by a comma and space, return the product of the numbers.
'''

def multiply_nums(numStr):
    """
    Returns the product of numbers entered.
    Input
    numStr: Numbers separated by a comma and space. Eg: "2, 3"
    """
    num_tuple = numStr.split()
    product = 1
    for num in num_tuple:
        n = num.strip(',')
        product = product*int(n)
    print(product)
multiply_nums("2, 3")

6

In [5]:
multiply_nums("1, 2, 3, 4, 5")

120

In [6]:
multiply_nums("10, -2")

-20

In [7]:
'''
3.
Create a function that squares every digit of a number.
'''

def square_digits(num):
    """Returns a number formed by squaring every digit of input
       Input
       num: An integer """
    sNum = str(num)
    sSqNum = ""
    for digit in sNum:
        sSqNum = sSqNum + str(int(digit)**2)
    return int(sSqNum)
square_digits(9119)

811181

In [8]:
square_digits(2483)

416649

In [9]:
square_digits(3212)

9414

In [10]:
'''
4.
Create a function that sorts a list and removes all duplicate items from it.
'''

def setify(l):
    s = set(l)
    l = list(s).sort()    
    return list(s)
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [11]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [12]:
setify([4, 4, 4, 4])

[4]

In [13]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [14]:
'''
5.
Create a function that returns the mean of all digits.
'''

def mean(num):
    """
    Returns mean of digits in the number.
    Input
    num: An integer
    """
    total = 0
    snum = str(num)
    for digit in snum:
        total = total + int(digit)
    avg = total / len(snum)
    return int(avg)
mean(42)

3

In [15]:
mean(12345)

3

In [16]:
mean(666)

6