In [1]:
'''
1. Write a function that takes a list and a number as arguments. Add the number to the end of the list,
then remove the first element of the list. The function should then return the updated list.
'''
def next_in_line(l, n):
    """
    Returns an updated list by removing the first element and adding a new element at last.
    Input
    l: A list
    n: new element
    """
    if l == []:
        return "No list has been selected"
    else:
        l.append(n)
        del l[0]
        return l
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [2]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [3]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [4]:
next_in_line([], 6)

'No list has been selected'

In [5]:
'''
2. Create the function that takes a list of dictionaries and returns the sum of people's budgets.
'''
def get_budgets(l):
    """
    Returns the sum of people's budgets
    Input
    l: a list of dictionaries
    """
    sum = 0
    for details in l:
        sum += details["budget"]
    return sum

In [6]:
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

In [7]:
get_budgets([
{ "name": "John", "age": 21, "budget": 29000 },
{ "name": "Steve", "age": 32, "budget": 32000 },
{ "name": "Martin", "age": 16, "budget": 1600 }
])

62600

In [8]:
'''
3. Create a function that takes a string and returns a string with its letters in alphabetical order.
'''
def alphabet_soup(s):
    """
    Returns a string with its letters in alphabetical order
    Input
    s: a string
    """
    l = list(s)
    l.sort()
    return "".join(l)

alphabet_soup("hello")

'ehllo'

In [9]:
alphabet_soup("edabit")

'abdeit'

In [10]:
alphabet_soup("hacker")

'acehkr'

In [11]:
'''
4. Suppose that you invest 10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?

Create a function that accepts the principal p, the term in years t, the interest rate r, and 
the number of compounding periods per year n.
The function returns the value at the end of term rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) âžž 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding here are 12 periods per year.
Compounding can also be done annually, quarterly, weekly, or daily.
'''
import math
def compound_interest(P, t, r, n):
    """
    Returns the compounded amount after end of the term.
    Input
    P: principal amount
    t: term in years
    r: rate of interest in decimal
    n: interest compounding frequency in a year
    """
    CA = P *math.pow(1+ (r/n), n*t)
    return round(CA,2)
compound_interest(100, 1, 0.05, 1)

105.0

In [12]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [13]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [14]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

In [15]:
'''
5. Write a function that takes a list of elements and returns only the integers.
'''
def return_only_integer(l):
    """
    Returns only integers from a list.
    Input
    l: a list
    """
    new_list = []
    for elem in l:
        if type(elem) == int:
            new_list.append(elem)
    return new_list
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [16]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [17]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [18]:
return_only_integer(["String", True, 3.3, 1])

[1]